<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Nuevo Proyecto</title>
</head>
<body>

<div class="form-container fade">

    <h1>Registrar Proyecto</h1>

    <form action="/registrar-proyecto" method="POST" class="form-card">

        <h3>Datos del Proyecto</h3>
        <input type="text" name="nombre" placeholder="Nombre del proyecto" required>

        <div class="form-row">
            <input type="date" name="fechaInicio" required>
            <input type="date" name="fechaFin" required>
        </div>

        <input type="number" name="presupuesto" placeholder="Presupuesto" required>

        <h3>Encargado del Proyecto</h3>


        <select name="encargadoId" required>
            <option value="">Selecciona un encargado</option>
            {% for e in encargados %}
                <option value="{{ e._id }}">{{ e.nombre }} - {{ e.dpi }}</option>
            {% endfor %}
        </select>

        <button class="btn-primary">Guardar Proyecto</button>
    </form>

    <a href="/" class="btn-secondary">Volver</a>

</div>

</body>
</html>
